
main {
    background-color: black;
    width: 400px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgorund-div {
    background-color: darkgray;
    height: 450px;
    width: 350px;
    display: flex;
    flex-direction: column;
    
    
}

.div-opcoes {
    background-color: yellow;
    height: 150px;
    width: 320px;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 8px;
    border: 2px solid black;
    font-size:25px; 
}

.input-opcao1 {
    width: 60px;
    height: 25px;
  

}
.input-opcao2 {
    width: 60px;
    height: 25px;
    margin-left: 17px;
}

.background-button {
    margin-top: 20px;
    margin-left: 57px;
}

.button-calcular {
    background-color: yellow;
    height: 90px;
    width: 250px;
    border-radius: 8px;
    color: black;
    font-size: 20px;
}
















